@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/inter";

body {
  background-image:
    radial-gradient(
      ellipse 100% 102.36% at 50% 0%,
      rgba(153, 85, 255, 0.4) 0%, 
      rgba(24, 26, 32, 0.8) 100%
    ),
    url('./assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Сброс для основных блоков текста */
p, h1, h2, h3, h4, h5, h6, blockquote, pre {
  margin: 0;
  padding: 0;
}

/* Сброс отступов и маркеров у списков */
ul, ol {
  margin: 0;
  padding-left: 1.25rem; /* или 20px, можно регулировать */
  list-style: none; /* убирает маркеры и номера */
}

/* Чтобы можно было вернуть стандартные маркеры, если надо, можно создавать классы отдельно */

/* Сброс для элементов списка */
li {
  margin: 0;
  padding: 0;
}

/* Сброс для inline элементов, если надо */
a, span, strong, em {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
}

/* Дополнительно можно добавить box-sizing для удобства */
*,
*::before,
*::after {
  box-sizing: border-box;
}


