@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/inter";

html, body {
  margin-top: 0;
}


body {
  background-image:
    radial-gradient(
      ellipse 100% 102.36% at 50% 0%,
      rgba(153, 85, 255, 0.4) 0%, 
      rgba(24, 26, 32, 0.8) 100%
    ),
    url('./assets/bg.jpg');
  background-size: cover;

  background-repeat: repeat-x;
  background-attachment: fixed;
  background-blend-mode: multiply;

} 



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2, h3, h4, h5, h6, blockquote, pre {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding-left: 1.25rem; 
  list-style: none; 
}

li {
  margin: 0;
  padding: 0;
}

a, span, strong, em {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.perspective { perspective: 1000px; }
.transform-style { transform-style: preserve-3d; }
.backface-hidden { backface-visibility: hidden; }
.rotate-y-180 { transform: rotateY(180deg); }

